.campo-digitacao{
	font-size: 18px;
	height: 130px;
	text-align: justify;
	border: 2px solid black;
}

.frase{
	font-size: 18px;
}

.campo-desativado{
	background-color: lightgray;
}

.icone{
	vertical-align: middle;
}


/*controlando cor da borda*/
.borda-verde{
	border: 3px solid green;
}


.borda-vermelha{
	border: 3px solid red;
}